{% extends "webpage_html.html" %}
{% block content %}

<p class="codepen_para"> Thanks so much for taking the time to check out my page and look over all the awesome stuff I learned!  On my <a href="/">Home</a> page you'll see all my most recent notes from Stage 4.  Below you can check out my earlier notes from Stages 1-3 on my CodePen page!</p>
<!--Embedded website for past notes-->
<div class="cp_embed">
	<iframe height="300" width="1200px" scrolling="no" src="http://codepen.io/dhumbee/embed/YPYVZQ"></iframe>
</div>

{% endblock %}